:root {
    --heightNav: 120px;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica';
}
html, body {
    /* overflow: hidden; */
    font-size: 23px;
    height: 100%;
}
.block {
    display: block;
} 
.none {
    display: none;
}
/* 
@font-face { font-family: HelveticaLight; src: url('./../fonts/Helvetica/HelveticaLight.ttf'); } 
@font-face { font-family: HelveticaLightOblique; src: url('./../fonts/Helvetica/HelveticaLightOblique.ttf'); } 
@font-face { font-family: Helvetica; src: url('./../fonts/Helvetica/Helvetica.ttf'); } 
@font-face { font-family: HelveticaBold; src: url('./../fonts/Helvetica/HelveticaBold.ttf'); }
@font-face { font-family: HelveticaBoldOblique; src: url('./../fonts/Helvetica/HelveticaBoldOblique.ttf'); }
@font-face { font-family: HelveticaOblique; src: url('./../fonts/Helvetica/HelveticaOblique.ttf'); } 
*/
.navigationBar {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--heightNav);
    box-sizing: border-box;
    transition: all 0.4s;
    display: flex;
    display: -webkit-flex; /* Safari */
    align-items: center;
    -webkit-align-items: center; /* Safari 7.0+ */
}
.navigationBarShort {
    height: calc(var(--heightNav) - 2.5rem);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}
.navigationBar_temp {
    height: var(--heightNav);
}
.navigationBar ul {
    padding: 0;
    display: flex;
}
.navigationBar ul li {
    position: relative;
    list-style: none;   /* delete dot */
}
.navigationBar ul li a
{
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    text-decoration: none;  /* delete underlined */
    text-transform: uppercase;
    user-select: none;
    /* font-family: 'Helvetica'; */
    /* text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25); */
}
.navigationBarShort ul li a {
    color: #ddd;
    font-weight: 500;
}
.navigationBar ul li a.active
{
    color: #6ebb24;
}
.navigationBar ul li a:hover
{
    color: #9fe62c;
    font-weight: 600;
}
.menuNavigation {
    width: 100%;
    /* background: #292929; */
    flex-direction: row;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: center;
}
.menuNavigation ul {
    margin-top: 1rem;
    width: 55%;
    text-align: center;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: center;
}
.navigationBarShort .menuNavigation ul {
    margin-top: 0;
    width: 50%;
}
.en .menuNavigation ul {
    width: 40%;
}
.menuNavigation ul li {
    -webkit-flex: 1; /* Safari 6.1+ */
    flex: 1;
}
.menuNavigation ul li:nth-child(1) {
    text-align: right;
    margin-top: 0.4rem;
}
.menuNavigation ul li:nth-child(2) {
    text-align: center;
}
.menuNavigation ul li:nth-child(3) {
    text-align: left;
    margin-top: 0.4rem;
}
.menuNavigation ul li a {
    font-size: 0.9rem;
}
.menuNavigation ul li a.active {
    font-size: 1.6rem;
    font-weight: 600;
    /* text-decoration: underline; */
}
.navigationBarShort .menuNavigation ul li:nth-child(1),
.navigationBarShort .menuNavigation ul li:nth-child(3) {
    margin-top: 0;
}
.navigationBarShort .menuNavigation ul li a,
.navigationBarShort .menuNavigation ul li a.active {
    font-size: 1rem;
}

.navigationBarShort .logo {
    cursor: pointer;
    position: fixed;
    margin-top: 0.1rem;
    left: 1.52vw;
    color: #6ebb24;
    height: 50px;
    width: 100px;
    background-image: url("./../../Public/img/logoHanaland.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.account {
    position: fixed;
    right: 7vw;
    text-align: right;
    border-collapse: separate;
    border-spacing: 0.3rem 0;
    margin-top: 0.07rem;
}
.account td {  cursor: pointer;     vertical-align: middle; }
.avatar_account {
    height: 1.29rem;
    width: 1.29rem;
}
.avatar_account:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}
.name_account,
.logout_account {
    color: #ddd;
}
.name_account {
    font-size: 0.7rem;
    color: #6ebb24;
}
.navigationBarShort .name_account {
    color: #9fe62c;
}
.logout_account {
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 0.57rem;
    color: #6ebb24;
}
.name_account:hover,
.logout_account:hover {
    color: #6ebb24; 
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.language {
    cursor: default;
    position: fixed;
    margin-top: -0.21rem;
    right: 1.5vw;
    color: #6ebb24;
}
.language ul:nth-child(2) {
    position: absolute;
    font-size: 0.53rem;
    top: 1rem;
    left: 1.5px;
    white-space: nowrap;
    /* font-family: 'Helvetica';     */
    color: #6ebb24;
}
.language ul li:nth-child(1) {
    margin-right: 3px;
}
.language ul li:nth-child(2) {
    margin-left: 3px;
}
.language ul li a{
    color: #ddd;
    cursor: pointer;
    /* font-family: 'Helvetica'; */
}
.disabled {
    pointer-events: none;
}


.dangkythanhvien {
    width: 400px;
    border: 1px solid #000;
    margin: 0px auto;
    margin-top: 60px;
}

.dangkythanhvien h3 {
    background: #009688;
    padding: 5px;
    color: #fff;
    text-align: center;
}

.dangkythanhvien form table tr td {
    padding: 5px;
}

.dangkythanhvien form table tr td input {
    padding: 3px 5px;
}

.danhsach {
    width: 800px;
    margin: auto;
    margin-top: 50px;
}

.danhsach table {
    width: 500px;
    border: 1px solid #999;
}

.danhsach h3 {
    background: #009688;
    color: #fff;
    text-align: center;
    padding: 5px;
}

.timkiem {
    margin: auto;
    margin-top: 50px;
    width: 800px;
}
