* {
    color: #fff;
}
body {
    background: linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background: -webkit-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background: -moz-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background: -ms-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background: -o-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    /* background-color: #000; */
}
.navigationBar_temp {
    height: 0;
}
.container_signin 
{
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 15%;
    text-align: center;
}
form 
{
    font-family: 'Helvetica';
    position: relative;
}
form input 
{
    font-weight: 400;
    box-sizing: border-box;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    outline: 0;
    border: 0.05em solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 10.9rem;
    border-radius: 3px;
    padding: 0.5rem 0.6rem;
    margin: 0 auto 0.5rem auto;
    display: block;
    text-align: center;
    font-size: 0.75rem;
    color: white;
    transition-duration: 0.25s;
    font-weight: 400;
}
form input.haveValue {
    font-weight: bold;
    padding-left: 2.5rem;
    /* background-color: white;
    width: 10.9rem;
    color: #53e3a6; */
}
form input.haveValue:focus {
    padding-left: 0.6rem;
}
form input:hover 
{
    background-color: rgba(255, 255, 255, 0.4); 
}
form input:focus 
{
    font-weight: bold;
    background-color: white;
    width: 15rem;
    color: #53e3a6;
}
form input::placeholder {
    color: white;
}
form span
{
    z-index: -1;
    position: absolute;
    width: 1.65rem;
    height: 1.3rem;
    margin-top: 0.15rem;
    margin-left: -5.3rem;
    padding-top: 0.35rem;
    background-color: rgba(255, 255, 255, 0.4); 
    border-radius: 2px;
}
form #login 
{
    font-weight: bold;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #07a52a;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 0.75rem;
    transition-duration: 0.25s;
}
form #login:hover 
{
    background-color: #f5f7f9;
}
.checkbox {
    width: 250px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: left;
    font-size: 0.75rem;
}
form input[type=checkbox] + label {
    display: block;
    cursor: pointer;
}
  
form input[type=checkbox] {
    display: none;
}

form input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.05em solid rgba(255, 255, 255, 0.4);
    border-radius: 0.06em;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.5em;
    margin-right: 0.4em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    color: rgba(255, 255, 255, 0.2);
}
  
form input[type=checkbox] + label:active:before {
    transform: scale(0);
}

form input[type=checkbox]:checked + label:before {
    background-color: #07a52a;
    border-color: #07a52a;
    color: #fff;
}
  
form input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}
  
form input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}