/* 65px = 8.2vh */
/* 85px = 5.5vw */
.rectangle_1, 
.rectangle_2 {
    position: fixed;
    top: 8.2vh;
    right: 5.5vw;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    -webkit-transform: rotate(-35.71deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(-35.71deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(-35.71deg);  /* IE 9 */
    -o-transform: rotate(-35.71deg);  /* Opera 10.50-12.00 */
    transform: rotate(-35.71deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
    /* background: rgb(128,202,9); */
    /* background: linear-gradient(35.71deg, rgba(128,202,9,1) 0%, rgba(160,230,44,1) 100%); */
    background: linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background: -webkit-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background: -moz-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background: -ms-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background: -o-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    -webkit-box-shadow: 0px 24px 62px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 24px 62px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 24px 62px 0px rgba(0,0,0,0.18);
}
.rectangle_2 {
    /* top: -94px; */
    top: -11.5vh;
    /* right: 668px; */
    right: 45vw;
    background: #F5F6F7;
}
/*
.rectangle_1_moved {
    transform: rotate(-180deg);
    right: 0;
    top: calc(100vh / 3);
    background-image: linear-gradient(-90deg, #80ca09 0%, #a0e62c 100%);
    background-image: -webkit-linear-gradient(-90deg, #80ca09 0%, #a0e62c 100%);
    background-image: -moz-linear-gradient(-90deg, #80ca09 0%, #a0e62c 100%);
    background-image: -ms-linear-gradient(-90deg, #80ca09 0%, #a0e62c 100%);
    background-image: -o-linear-gradient(-90deg, #80ca09 0%, #a0e62c 100%);
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
}
.rectangle_2_moved {
    transform: rotate(-90deg);
    right: 100vw;
}
*/
.scroll {
    z-index: 10;
    cursor: pointer;
    position: fixed;
    right: calc(1.5vw + 4px);
    bottom: 1.9rem;
}
.scroll ul {
    position: relative;
    text-align: right;
    font-size: 1rem;
    font-family: 'Myriad';
}
.scroll ul a {
    text-decoration:none;
    color: #d7f4a5;
    user-select: none;
    padding-left: 0.4rem;
    padding-right: 0.1rem;
}
.scroll ul a.active {
    color: #6ebb24;
    background: #fff;
}
.scroll ul a:hover {
    color: #80ca09;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.scroll ul a span {
    position: absolute;
    top: -7px;
    /* font-family: 'Helvetica'; */
    font-size: 1.4rem;
}
.welcome {
    width: 100%;
    height: 100%;
}
.welcome .logo_white {
    /* position: fixed;
    top: calc(50% - 220px);
    left: calc(50% - 105px); */
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2.5%;
    background-image: url("./../../img/logo_white.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 220px;
    width: 220px;
}
.welcome .title {
    height: 85px;
    width: 595px; /* = x7 height */
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2.5%;
    background-image: url("./../../img/title.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition-duration: 0.25s;
}
.welcome .slogan {
    text-align: center;
    margin-top: 1.1%;
    color: #fff;
    font-size: 1.65rem;
    font-family: 'HelveticaLight';
    text-shadow: 0px 0px 18px rgba(0,0,0,0.4);
    cursor: default;
    transition-duration: 0.25s;
    /* font-weight: bold; */
    /* user-select: none; */
}
.arrowDownDouble {
    position: relative;
    width: 70px;
    height: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2.6%;
    cursor: pointer;
}
.arrowDown {
    position: absolute; 
    width: 100%; /* follow parent .arrowDownDouble */
    height: 100%; /* follow parent .arrowDownDouble */
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("./../../img/arrow.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.primera{
    width: 70%; /* follow parent .arrowDownDouble */
    height: 70%; /* follow parent .arrowDownDouble */
    opacity: 0.5;
}
.segunda{margin-top: 22%; /* follow parent .arrowDownDouble */ }

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateY(0px) scale(1);}
  25%{opacity: 0; transform:translateY(10px) scale(0.9);}
  26%{opacity: 0; transform:translateY(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateY(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrowDown.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
/* .arrowDownDouble:hover .arrowDown{ */
.arrowDownDouble .arrowDown{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
/* .arrowDownDouble:hover .arrowDown.primera{ */
.arrowDownDouble .arrowDown.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.bestProject {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.bgBestProject {
    background: linear-gradient(to top, #80ca09 0%, #a0e62c 100%);
    background: -webkit-linear-gradient(to top, #80ca09 0%, #a0e62c 100%);
    background: -moz-linear-gradient(to top, #80ca09 0%, #a0e62c 100%);
    background: -ms-linear-gradient(to top, #80ca09 0%, #a0e62c 100%);
    background: -o-linear-gradient(to top, #80ca09 0%, #a0e62c 100%);
    -webkit-box-shadow: 0px 24px 62px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 24px 62px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 24px 62px 0px rgba(0,0,0,0.18);
}

/* Style for slideshow */
/* Slideshow container */
.slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    margin: auto;
    perspective:500px;
}
.background__slideshow {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.05;
    -webkit-animation-name: fadeSlideshow; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.2s; /* Safari 4.0 - 8.0 */
    animation-name: fadeSlideshow;
    animation-duration: 0.2s;
}
.bgBestProject .background__slideshow {
    display: block;
}
.background__slideshow img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.content_slides {
    position: absolute;
    bottom: 4%;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 16rem;
    color: #fff;
}
.title__slides {
    font-size: 1.5rem;
    font-weight: 700;
}
.intro__slides {
}
.slideshow {
    margin-top: 7%;
    position: absolute;
    height: 18rem;
    width: 100%;
    overflow-y: hidden;
}
.slideshow ul li img {
    height: 18rem;
    width: 14rem;
    object-fit: cover;
    cursor: pointer;
}
.flipster__button {
    font-size: 0.5rem;
    margin: -2em 10em;
}
.flipster__button svg {
    width: 4.5em;
    stroke: currentColor;
    opacity: .8;
    stroke-width: 4;
    stroke-linecap: square;
    color: #fff;
}
/* Caption text */
.flipster__item__content .title_slide {
    color: #f2f2f2;
    font-size: 0.8rem;
    position: absolute;
    bottom: 7%;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

/* Number text (1/3 etc) */
.flipster__item__content .number_slide {
    color: #f2f2f2;
    font-size: 0.5rem;
    padding-left: 0.6rem;
    padding-top: 0.6rem;
    position: absolute;
    top: 0;
}
.flipster__item__content a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* allProject */
.allProject {
    width: 100%;
    min-height: calc(370px * 2 + 3rem);
    background: #F5F6F7;
    margin-top: calc(-1 * var(--heightNavBarShort));
    padding-top: var(--heightNavBarShort);
}
.allProject .title {
    width: 100%;
    font-family: 'Atziluth';
    font-size: 5rem;
    font-weight: bolder;
    color: #a0e62c;
    cursor: default;
    text-shadow: 
            1px  1px     #fff, 
        -1px  1px     #fff, 
            1px -1px     #fff, 
        -1px -1px     #fff,
            1px  1px 5px #555;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.allProject .row {
    width: 100%;
    max-width: 55rem;
    margin: 0 auto;
    overflow:auto;
}
.allProject .card {
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 25%;
    height: 370px;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    margin: 0 0 1.6rem;
}
.allProject .card a {
    position: absolute;
    width: calc(100% - 1.6rem);
    height: 100%;
    background: #fff;
    border-radius: 4px;
    border: 1px solid#DFE1E6;
    text-decoration: none;
    transition: all 250ms ease-out;
    overflow: hidden;
    font-size: 0.8rem;
}
.allProject .card a:hover {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 8px 24px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 8px 24px rgba(0,0,0,0.1);
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
}
.image__card {
    width: 100%; 
    position: relative;
    transition: .5s ease;
}
.image__card img {
    width: 100%;
    object-fit: cover;
}
.title__card {
    position: absolute;
    bottom: 8px;
    left: 8px;
    color: #fff;
}
.status__card {
    width: 100%;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: row;
    justify-content: space-between;
    box-sizing:border-box;
    padding: 2px 8px;
}
.card .comment {
    color: #2ECC71;
}
.card .seen {
    color: rgb(25, 172, 226);
}
/* Rating Card */
.status__card .rating .star--unchecked {
    color: #ddd;
}
.status__card .rating .star--checked {
    color: #FFD700;
}
.star--unchecked {
    color: #ddd;
}
.star__half { position: relative; color: #ddd;}
.star__half::after {
    content: "\f089";
    color: #FFD700;
    position: absolute;
    right: 0;
}
.card .money {
    color: red;

}
.card .money span {
    font-weight: bold;
}
.card .map-marker {
    color: #F44336;
}
.card .compass {
    color: #3F51B5;
}
.card .area {
    color: #E91E63;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card a:hover .image__card {
    margin-top: -225px;

}
/* footer */
.footer
{
    bottom: 0;
    width: 100%;
    background: #292929;
}
.title__footer
{
    padding-top: 1rem;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}
.slogan__footer
{
    font-size: 0.8rem;
    margin-top: 0.4rem;
    text-align: center;
    color: #fff;
}
.name__footer
{
    font-size: 0.8rem;
    margin-top: 0.4rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.mid__footer {
    margin: 0.6rem 0;
    display: flex;
    display: -webkit-flex; /* Safari */
    align-items: center;
    justify-content: space-around;
}
.map__footer
{
    height: 11rem;
    width: 25%;
    background: #fff;
}
.contact__footer
{
    height: 11rem;
    width: 32%;
    color: #fff;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    justify-content: space-between;
}
.social__contact__footer
{
    display: flex;
    display: -webkit-flex; /* Safari */
    align-items: center;
}
.icon__social
{
    height: 1.6rem;
    width: 1.6rem;
    background-size: cover;
}
.info__social__contact__footer
{
    margin-left: 0.8rem;
    font-size: 0.8rem;
}
div.icon1__social__contact__footer
{
    background-image: url("../../../Public/img/icon_Gmail.png");
}
div.icon2__social__contact__footer
{
    background-image: url("../../../Public/img/icon_Phone.png");
}
div.icon3__social__contact__footer
{
    background-image: url("../../../Public/img/icon_Phone.png");
}
div.icon4__social__contact__footer
{
    background-image: url("../../../Public/img/icon_Facebook.png");
}
div.icon5__social__contact__footer
{
    background-image: url("../../../Public/img/icon_Address.png");
}
.copyright__footer
{
    width: 100%;
    text-align: center;
    color: #fff;
    bottom: 0;
    background: #515151;
    padding: 0.5rem 0;
    font-size: 0.6rem;
}

