/* 65px = 8.2vh */
/* 85px = 5.5vw */
.rectangle_1, 
.rectangle_2 {
    position: fixed;
    top: 8.2vh;
    right: 5.5vw;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    -webkit-transform: rotate(-35.71deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(-35.71deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(-35.71deg);  /* IE 9 */
    -o-transform: rotate(-35.71deg);  /* Opera 10.50-12.00 */
    transform: rotate(-35.71deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
    /* background: rgb(128,202,9); */
    /* background: linear-gradient(35.71deg, rgba(128,202,9,1) 0%, rgba(160,230,44,1) 100%); */
    background: linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background: -webkit-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background: -moz-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background: -ms-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background: -o-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    -webkit-box-shadow: 0px 24px 62px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 24px 62px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 24px 62px 0px rgba(0,0,0,0.18);
}
.rectangle_2 {
    /* top: -94px; */
    top: -11.5vh;
    /* right: 668px; */
    right: 45vw;
    background: #eee;
}
/*
.rectangle_1_moved {
    transform: rotate(-180deg);
    right: 0;
    top: calc(100vh / 3);
    background-image: linear-gradient(-90deg, #80ca09 0%, #a0e62c 100%);
    background-image: -webkit-linear-gradient(-90deg, #80ca09 0%, #a0e62c 100%);
    background-image: -moz-linear-gradient(-90deg, #80ca09 0%, #a0e62c 100%);
    background-image: -ms-linear-gradient(-90deg, #80ca09 0%, #a0e62c 100%);
    background-image: -o-linear-gradient(-90deg, #80ca09 0%, #a0e62c 100%);
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
}
.rectangle_2_moved {
    transform: rotate(-90deg);
    right: 100vw;
}
*/
.scroll {
    cursor: pointer;
    position: fixed;
    right: calc(1.5vw + 4px);
    bottom: 1.9rem;
}
.scroll ul {
    position: relative;
    text-align: right;
    font-size: 1rem;
    font-family: 'Myriad';
}
.scroll ul a {
    text-decoration:none;
    color: #eee;
    padding-left: 0.4rem;
    padding-right: 0.1rem;
}
.scroll ul a.active {
    color: #6ebb24;
    background: #fff;
}
.scroll ul a:hover {
    color: #80ca09;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.scroll ul a span {
    position: absolute;
    top: -7px;
    /* font-family: 'Helvetica'; */
    font-size: 1.4rem;
}
.welcome {
    width: 100%;
    height: 100%;
}
.logo_white {
    /* position: fixed;
    top: calc(50% - 220px);
    left: calc(50% - 105px); */
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2.5%;
    background-image: url("./../../img/logo_white.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 220px;
    width: 220px;
}
.title {
    height: 85px;
    width: 595px; /* = x7 height */
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2.5%;
    background-image: url("./../../img/title.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition-duration: 0.25s;
}
.slogan {
    text-align: center;
    margin-top: 1.1%;
    color: #fff;
    font-size: 1.65rem;
    font-family: 'HelveticaLight';
    text-shadow: 0px 0px 18px rgba(0,0,0,0.4);
    cursor: default;
    transition-duration: 0.25s;
}
.arrowDownDouble {
    position: relative;
    width: 70px;
    height: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2.6%;
    cursor: pointer;
}
.arrowDown {
    position: absolute; 
    width: 100%; /* follow parent .arrowDownDouble */
    height: 100%; /* follow parent .arrowDownDouble */
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("./../../img/arrow.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.primera{
    width: 70%; /* follow parent .arrowDownDouble */
    height: 70%; /* follow parent .arrowDownDouble */
    opacity: 0.5;
}
.segunda{margin-top: 22%; /* follow parent .arrowDownDouble */ }

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateY(0px) scale(1);}
  25%{opacity: 0; transform:translateY(10px) scale(0.9);}
  26%{opacity: 0; transform:translateY(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateY(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrowDown.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
/* .arrowDownDouble:hover .arrowDown{ */
.arrowDownDouble .arrowDown{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
/* .arrowDownDouble:hover .arrowDown.primera{ */
.arrowDownDouble .arrowDown.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.bestProject {
    width: 100%;
    height: 100%;
}
.bgBestProject {
    background: linear-gradient(to top, #80ca09 0%, #a0e62c 100%);
    background: -webkit-linear-gradient(to top, #80ca09 0%, #a0e62c 100%);
    background: -moz-linear-gradient(to top, #80ca09 0%, #a0e62c 100%);
    background: -ms-linear-gradient(to top, #80ca09 0%, #a0e62c 100%);
    background: -o-linear-gradient(to top, #80ca09 0%, #a0e62c 100%);
    -webkit-box-shadow: 0px 24px 62px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 24px 62px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 24px 62px 0px rgba(0,0,0,0.18);
}
.allProject {
    width: 100%;
    height: 100%;
}

.contact {
    width: 100%;
    height: 100%;
    background: #292929;
}
