.scroll {
    cursor: pointer;
    position: fixed;
    right: calc(1.5vw + 9px);
    bottom: 1.9rem;
}
.scroll ul {
    position: relative;
    text-align: right;
    color: #eee;
    font-size: 1rem;
    font-family: 'Myriad';
}
.scroll ul.active {
    color: #6ebb24;
}
.scroll ul:hover {
    color: #80ca09;
}
.scroll ul span {
    position: absolute;
    top: -7px;
    /* font-family: 'Helvetica'; */
    font-size: 1.4rem;
}
.rectangle_1, 
.rectangle_2 {
    position: fixed;
    top: 65px;
    right: 85px;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    transform: rotate(-35.71deg);
    /* background: rgb(128,202,9); */
    /* background: linear-gradient(35.71deg, rgba(128,202,9,1) 0%, rgba(160,230,44,1) 100%); */
    background-image: linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background-image: -webkit-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background-image: -moz-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background-image: -ms-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background-image: -o-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    -webkit-box-shadow: 0px 24px 62px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 24px 62px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 24px 62px 0px rgba(0,0,0,0.18);
}
.rectangle_2 {
    top: -94px;
    right: 668px;
    background: #eee;
}
.logo_white {
    /* position: fixed;
    top: calc(50% - 220px);
    left: calc(50% - 105px); */
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 3%;
    background-image: url("./../../img/logo_white.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 220px;
    width: 220px;
}
.title {
    height: 85px;
    width: 595px; /* = x7 height */
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2.4%;
    background-image: url("./../../img/title.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition-duration: 0.25s;
}
.slogan {
    text-align: center;
    margin-top: 1.1%;
    color: #fff;
    font-size: 1.65rem;
    font-family: 'HelveticaLight';
    text-shadow: 0px 0px 18px rgba(0,0,0,0.4);
    cursor: default;
    transition-duration: 0.25s;
}
.arrowDownDouble {
    position: relative;
    width: 70px;
    height: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 3%;
    cursor: pointer;
}
.arrowDown {
    position: absolute; 
    width: 100%; /* follow parent .arrowDownDouble */
    height: 100%; /* follow parent .arrowDownDouble */
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("./../../img/arrow.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.primera{
    width: 70%; /* follow parent .arrowDownDouble */
    height: 70%; /* follow parent .arrowDownDouble */
    opacity: 0.5;
}
.segunda{margin-top: 22%; /* follow parent .arrowDownDouble */ }

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateY(0px) scale(1);}
  25%{opacity: 0; transform:translateY(10px) scale(0.9);}
  26%{opacity: 0; transform:translateY(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateY(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrowDown.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
/* .arrowDownDouble:hover .arrowDown{ */
.arrowDownDouble .arrowDown{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
/* .arrowDownDouble:hover .arrowDown.primera{ */
.arrowDownDouble .arrowDown.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}