* {
    color: #fff;
}
body {
    background: linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background: -webkit-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background: -moz-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background: -ms-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    background: -o-linear-gradient(35.71deg, #80ca09 0%, #a0e62c 100%);
    /* background-color: #000; */
}
.navigationBar_temp {
    height: 0;
}
.container_signin 
{
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 15%;
    text-align: center;
}
h1.title_signin 
{
    font-family: 'SourceSansPro';
    font-weight: 400;
    /* display: none; */
    font-size: 2rem;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-put;
    font-weight: 400;
}
form 
{
    /* display: none; */
    padding: 20px 0;
    position: relative;
}
form input 
{
    font-family: 'SourceSansPro';
    font-weight: 400;
    box-sizing: border-box;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 0.75rem;
    color: white;
    transition-duration: 0.25s;
    font-weight: 400;
}
form input:hover 
{
    background-color: rgba(255, 255, 255, 0.4); 
}
form input:focus 
{
    font-family: 'Helvetica';
    font-weight: bold;
    background-color: white;
    width: 300px;
    color: #53e3a6;
}
form input::placeholder {
    color: white;
}
form span
{
    box-sizing: border-box;
    z-index: -1;
    position: absolute;
    left: calc(50% - 122px);
    width: 40px;
    height: 38px;
    margin-top: 2.9px;
    padding: 10px 0 0 0.5px;
    text-align: center;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.4); 
    border-radius: 3px;
}
form #login 
{
    font-family: 'Helvetica';
    font-weight: bold;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 0.75rem;
    transition-duration: 0.25s;
}
form #login:hover 
{
    background-color: #f5f7f9;
}